#container{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
button{
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(240, 58%, 50%);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: hsl(250, 60%, 65%);
}
button:active{
  background-color: hsl(250, 60%, 75%);
}
input{
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}
#diceResult{
  margin: 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: azure;
}
#diceImages img{
  margin: 5px;
  width: 250;
  height: 250px;
}